.divInner{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin:auto;
}

.divLinks{
    margin: 10px;
}

.divInner a{
    margin: 1em;
    max-height: 32px;
    max-width: 32px;
}

.divInner a img{
    max-height: 32px;
    max-width: 32px;
}