.divMainInfo{
    width: 100%;
    height: max-content;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
}

.divSupportMe{
    
}